{% extends 'base.html' %} {% block content %}
<!-- ====== START ABOUT ======  -->
<section class="about padding" id="about" data-scroll-index="1">
  <div class="container">
    <div class="row">
      <!-- START ABOUT PICTURE -->
      <div class="col-lg-6 about-image mb-5">
        <img src="/static/img/about.png" alt="About picture" />
      </div>
      <!-- END ABOUT PICTURE -->

      <!-- START ABOUT CONTENT -->
      <div class="col-lg-6 about-content">
        <div class="hr-title">
          <h2 class="heading-primary mb-2">درباره ما</h2>
          <div class="headerhr"></div>
        </div>

        <h3 class="heading-tertiary mt-3 mb-3">تعهد کیفیت سرعت</h3>
        <p class="mb-3">
          دایانا گروهی از بهترین برنامه نویسان و طراحان است که به منظور ارا‌ٰئه
          خدمات عالی و گسترش توانایی های خود گردهم امده اند
        </p>
        <p class="mb-5">
          ما در این تیم توانایی انجام تمامی ایده ها و نیاز های شما را داریم
          همچنین شما میتوانید از مشاوره رایگان مشاوران دایانا فمیلی استفاده کنید
        </p>
        <a href="#0" class="button btn-hover mt-3"> ادامه مطلب &rarr;</a>
        <br>
        <br>
        <h3 class="heading-tertiary mt-3 mb-3">
          به دنبال پیشرفت و کشف راهکارهای نوین
        </h3>
        <p class="mb-3">
          تیم دایانا یک تیم متشکل از توسعه‌دهندگان و مهندسان جوان است که با هدف
          ایجاد راهکارهای نوین و پیشرفته در زمینه‌های مختلف فعالیت می‌کند. اعضای
          تیم، با داشتن تجربه و دانش فنی قوی، به تلاش خود در ارائه راهکارهایی
          کارآمد و کاربردی برای مشکلات مختلف می‌پردازند. تیم دایانا در زمینه‌های
          مختلف فعالیت دارد، از جمله برنامه‌نویسی و توسعه نرم‌افزار، طراحی وب
          سایت، مهندسی شبکه و امنیت اطلاعات. همچنین، تیم با توجه به اهمیت
          استفاده از فناوری‌های نوین در دنیای امروز، به دنبال کشف و پیشرفت در
          حوزه هوش مصنوعی و یادگیری ماشینی نیز می‌باشد.
        </p>
        <br>
        <a href="#0" class="button btn-hover mt-3"> ادامه مطلب  &rarr;</a>

      </div>

      <!-- END ABOUT CONTENT -->
    </div>
  </div>
</section>
<!-- ====== END ABOUT======  -->

<!-- ======  START ABOUT LIST====== -->
<section class="about-list padding">
  <div class="container">
    <div class="row">
      <!-- START ABOUT LIST SECTION TITLE -->
      <div class="text-center">
        <h2 class="heading-primary mb-5">دایانا <span>فمیلی </span></h2>
        <p class="mb-3">
          دایانا تیم برنامه نویسی با سابقه طولانی و درخشان در انجام انواع پرو‌ژه
          های برنامه نویسی است. ما اماده انجام انواع پروژه های برنامه نویسی شما
          با بهترین کیفیت و کوتاه ترین زمان ممکن برای شما هستیم هدف ما کسب رضایت
          کامل شماست
        </p>
      </div>
      <!-- END ABOUT LIST SECTION TITLE -->

      <!-- START ABOUT ITEM -->
      <div class="about-item col-lg-4 col-md-6 mx-auto p-0 mt-5">
        <div class="text-center">
          <i class="icon fa fa-paint-brush fa-2x"></i>
          <h5>طراحی وبسایت</h5>
          <h6>طراحی مدرن و تمیز</h6>
          <p>
            تیم ما دارای طراحان متخصص و متعهد است که میتوانند به خوبی رضایت شما
            را تضمین کنند
          </p>
        </div>
      </div>
      <!-- END ABOUT ITEM -->

      <!-- START ABOUT ITEM -->
      <div class="about-item col-lg-4 col-md-6 mx-auto p-0 mt-5">
        <div class="text-center">
          <i class="icon fa fa-desktop fa-2x"></i>
          <h5>توسعه</h5>
          <h6>توسعه وب و موبایل</h6>
          <p>توسعه دهندگان تیم ما افرادی حرفه ای و پرسرعت هستند</p>
        </div>
      </div>
      <!-- END ABOUT ITEM -->

      <!-- START ABOUT ITEM -->
      <div class="about-item col-lg-4 col-md-6 mx-auto p-0 mt-5">
        <div class="text-center">
          <i class="icon fa fa-diamond fa-2x"></i>
          <h5>برند سازی</h5>
          <h6>طراحی لوگو</h6>
          <p>
            میتوانید برندسازی تجاری خود را به متخصصان حرفه ای تیم ما بسپارید
          </p>
        </div>
      </div>
      <!-- END ABOUT ITEM -->
    </div>
  </div>
</section>
<!-- ======  END OF ABOUT LIST====== -->

{% endblock content %}
