<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Successful-communication</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        text-align: center;
      }
      
      h1 {
        margin-top: 50px;
      }
      
      a {
        display: inline-block;
        margin-top: 20px;
        padding: 10px 20px;
        background-color: #4CAF50;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <h1>بابت نظر شما ممنونیم </h1>
    <p>نظر شما برای ما بسیار مهم است. با تشکر از شما بابت ارسال نظرتان</p>
    <a href= '{% url "contact" %}' >بازگشت به صفحه قبل</a>
  </body>
</html>