{% extends 'base.html' %}



{% block content %}
    <!-- ====== START CONTACT ======  -->
    <section class="contact padding" id="contact" data-scroll-index="7">
        <div class="container">

            <!-- START CONTACT SECTION TITLE -->
            <div class="text-center">
                <h2 class="heading-primary mb-5"><span>  ارتباط با  <span> ما</span></h2>
                <p class="mb-5">نظرات و پیشنهادات خود را با ما در میان بگذارید  و در ارتقای کیفی روند کار ما سهیم باشید</p>
            </div>
            <!-- END CONTACT SECTION TITLE -->

            <!-- START INFO-->
            <div class="row">
                <div class="col-lg-5 mx-auto">
                    <ul class="info">
                        <li>
                            <i class="fa fa-map fa-fw"></i>
                            <h5><span>نام:</span></h5>
                            <p></p>
                        </li>
                        <li>
                            <i class="fa fa-phone fa-fw"></i>
                            <h5><span>ایمیل:</span></h5>
                            <p></p>
                        </li>
                        <li>
                            <i class="fa fa-envelope fa-fw"></i>
                            <h5><span>متن پیام:</span></h5>
                            <p></p>
                        </li>

                    </ul>
                </div>
                <!-- END INFO -->

                <!-- START CONTACT FORM -->
                <div class="contact-form col-lg-7 mx-auto">
                    <form class="form" id="contact-form" method="post" action="contact">
                        <div class="messages"></div>
                        <div class="controls">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input id="form_name" type="text" name="name" placeholder="Name *"
                                            required="required">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input id="form_email" type="email" name="email" placeholder="Email *"
                                            required="required">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea id="form_message" name="message" placeholder="Message" rows="4"
                                            required="required"></textarea>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <button type="submit" class="button btn-hover">Send Message</button>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
                <!-- END CONTACT FORM -->

            </div>
        </div>
    </section>
    <!-- ====== END CONTACT ======  -->


    {% endblock content %}