{% extends 'base.html' %}


    {% block content %}
    <!-- =======START HEADER=========== -->
    <header class="home" id="home" data-scroll-index="0">
        <div class="container">
            <div class="row">

                <!-- START HEADER CONTENT -->
                <div class="col-lg-6 d-flex justify-content-md-center mx-auto">
                    <div class="hero-content">
                        <div class="content">
                            <h1 class="title mt-5 text-dark">
                             دایانا فمیلی
                            </h1>
                            <p class="subtitle text-dark">
                                دایانا  تیم برنامه نویسی  با سابقه طولانی و درخشان در انجام انواع پرو‌ژه های برنامه نویسی است.
                                 ما اماده انجام انواع پروژه های برنامه نویسی شما با بهترین کیفیت و کوتاه ترین زمان ممکن برای شما هستیم
                                   هدف ما کسب رضایت کامل شماست
                            </p>                            </p>
                            <a href=" #0" class="button btn-hover">اشنایی با ما
                                <i class="fa fa-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
                <!-- START HEADER CONTENT -->

                <!-- START HEADER IMAGE -->
                <div class="col-lg-6 order-first order-lg-last d-flex justify-content-md-center">
                    <div class="hero-img">
                        <img class="img-fluid full-img" src="static/img/hero.png" alt="header-right-image" />
                    </div>
                </div>
                <!-- END HEADER IMAGE -->

            </div>
        </div>
    </header>
    <!-- ====== END HEADER ======  -->

    {% endblock content %}
    
