{% extends 'base.html' %}


{% block content %}
 <!-- ====== START PORTFOLIO ======  -->
 <section class="portfolio padding" id="portfolio" data-scroll-index="3">
    <div class="container-fluid">

        <!-- START PORTFOLIO SECTION TITLE -->
        <div class="port-title text-center text-white">
            <h2 class="heading-primary mb-5">Portfolio</h2>
            <p class="text-white mb-5">Lorem Ipsum is simply dummy text of the printing and type setting
                industry when an unknown printer took a galley of type and scrambled it to make a type specimen
                book It has survived not only five centuries.</p>
        </div>
        <!-- END PORTFOLIO SECTION TITLE -->


        <!--START PORTFOLIO FILTER BUTTONS -->
        <nav>
            <ul class="simplefilter filter-port">
                <li class="btn active button btn-hover" data-filter="all">All</li>
                <li class="btn button btn-hover" data-filter="1">Brand</li>
                <li class="btn button btn-hover" data-filter="2">Design</li>
                <li class="btn button btn-hover" data-filter="3">Graphic</li>
            </ul>
        </nav>
        <!-- END PORTFOLIO FILTER BUTTONS -->

        <div class="row">
            <!--START PORTFOLIO CONTENT -->
            <div class="filtr-container">

                <!-- PORTFOLIO FILTER ITEM-->
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 filtr-item" data-category="1">
                    <div class="port-caption">
                        <!-- PORTFOLIO IMAGE -->
                        <img src="/static/img/portfolio/portfolio-01.jpg" alt="portfolio-01" />
                        <!-- PORTFOLIO TITLE -->
                        <div class="overlay">
                            <div class="info-content">
                                <h4>Creative Portfolio</h4>
                                <p>Branding &#8739; Logo</p>
                            </div>
                            <div class="view-more">
                                <a class="modal-image" href="/static/img/portfolio/portfolio-01.jpg">
                                    <i class="fa fa-search fa-lg"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- PORTFOLIO FILTER ITEM-->
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 filtr-item" data-category="3">
                    <div class="port-caption">
                        <!-- PORTFOLIO IMAGE -->
                        <img src="/static/img/portfolio/portfolio-02.jpg" alt="portfolio-02" />
                        <!-- PORTFOLIO TITLE -->
                        <div class="overlay">
                            <div class="info-content">
                                <h4>Creative Portfolio</h4>
                                <p>Branding &#8739; Logo</p>
                            </div>
                            <div class="view-more">
                                <a class="modal-image" href="/static/img/portfolio/portfolio-02.jpg">
                                    <i class="fa fa-search fa-lg"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- PORTFOLIO FILTER ITEM-->
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 filtr-item" data-category="1">
                    <div class="port-caption">
                        <!-- PORTFOLIO IMAGE -->
                        <img src="/static/img/portfolio/portfolio-03.jpg" alt="portfolio-03" />
                        <!-- PORTFOLIO TITLE -->
                        <div class="overlay">
                            <div class="info-content">
                                <h4>Creative Portfolio</h4>
                                <p>Branding &#8739; Logo</p>
                            </div>
                            <div class="view-more">
                                <a class="modal-image" href="/static/img/portfolio/portfolio-03.jpg">
                                    <i class="fa fa-search fa-lg"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- PORTFOLIO FILTER ITEM-->
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 filtr-item" data-category="2">
                    <div class="port-caption">
                        <!-- PORTFOLIO IMAGE -->
                        <img src="/static/img/portfolio/portfolio-04.jpg" alt="portfolio-04" />
                        <!-- PORTFOLIO TITLE -->
                        <div class="overlay">
                            <div class="info-content">
                                <h4>Creative Portfolio</h4>
                                <p>Branding &#8739; Logo</p>
                            </div>
                            <div class="view-more">
                                <a class="modal-image" href="/static/img/portfolio/portfolio-04.jpg">
                                    <i class="fa fa-search fa-lg"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- PORTFOLIO FILTER ITEM-->
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 filtr-item" data-category="3">
                    <div class="port-caption">
                        <!-- PORTFOLIO IMAGE -->
                        <img src="/static/img/portfolio/portfolio-05.jpg" alt="portfolio-05" />
                        <!-- PORTFOLIO TITLE -->
                        <div class="overlay">
                            <div class="info-content">
                                <h4>Creative Portfolio</h4>
                                <p>Branding &#8739; Logo</p>
                            </div>
                            <div class="view-more">
                                <a class="modal-image" href="/static/img/portfolio/portfolio-05.jpg">
                                    <i class="fa fa-search fa-lg"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- PORTFOLIO FILTER ITEM-->
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 filtr-item" data-category="1">
                    <div class="port-caption">
                        <!-- PORTFOLIO IMAGE -->
                        <img src="/static/img/portfolio/portfolio-06.jpg" alt="portfolio-06" />
                        <!-- PORTFOLIO TITLE -->
                        <div class="overlay">
                            <div class="info-content">
                                <h4>Creative Portfolio</h4>
                                <p>Branding &#8739; Logo</p>
                            </div>
                            <div class="view-more">
                                <a class="modal-image" href="/static/img/portfolio/portfolio-06.jpg">
                                    <i class="fa fa-search fa-lg"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--END PORTFOLIO CONTENT -->
        </div>
    </div>
</section>
<!-- ====== END PORTFOLIO ======  -->



{% endblock content %}