{% extends 'base.html' %}


{% block content %}
    <!-- ====== START SERVICES ======  -->
    <section class="services padding" id="services" data-scroll-index="2">
        <div class="container">

            <!-- START SERVICES SECTION TITLE -->
            <h2 class="heading-primary text-center mb-5">خدمات ارائه شده توسط تیم دایانا </h2>
            <!-- END SERVICES SECTION TITLE -->

            <div class="row">
                <!-- START CONTENT BOX -->
                <div class="col-lg-4 col-md-6 col-sm-10 mx-auto">
                    <div class="content-box">
                        <div class="hr-title">
                            <div class="outer-circle">
                                <div class="inner-circle">
                                    <div class="content-box-icon">
                                        <i class="fa fa-pencil-square-o fa-2x"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="headerhr"></div>
                        </div>
                        <h5 class="heading-secondary"> طراحی انواع ربات های تلگرامی </h5>
                        <p>
                            تیم دایانا سابقه طولانی در طراحی و اجرای انواع ربات های تلگرامی را دارد  شما میتوانید برای مشاوره رایگان در مورد ربات خود با ما ارتباط برقرار کنید
                        </p>
                    </div>
                </div>
                <!--END CONTENT BOX -->

                <!--START CONTENT BOX -->
                <div class="col-lg-4 col-md-6 col-sm-10 mx-auto">
                    <div class="content-box">
                        <div class="hr-title">

                            <div class="outer-circle">
                                <div class="inner-circle">
                                    <div class="content-box-icon">
                                        <i class="fa fa-cog fa-2x"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="headerhr"></div>
                        </div>
                        <h5 class="heading-secondary">طراحی انواع ربات های اینستاگرامی </h5>
                        <p>
                            تیم دایانا سابقه طولانی در طراحی و اجرای انواع ربات های اینستاگرامی را دارد  شما میتوانید برای مشاوره رایگان در مورد ربات خود با ما ارتباط برقرار کنید

                        </p>
                    </div>
                </div>
                <!--END CONTENT BOX -->

                <!--START CONTENT BOX -->
                <div class="col-lg-4 col-md-6 col-sm-10 mx-auto">
                    <div class="content-box">
                        <div class="hr-title">
                            <div class="outer-circle">
                                <div class="inner-circle">
                                    <div class="content-box-icon">
                                        <i class="fa fa-desktop fa-2x"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="headerhr"></div>
                        </div>
                        <h5 class="heading-secondary">طراحی وب سایت </h5>
                        <p>
                                            ما در تیم دایانا اماده طراحی و ساخت انوع وبسایت های مختلف  برای شما هستیم
                        </p>
                    </div>
                </div>
                <!--END CONTENT BOX -->

                <!--START CONTENT BOX -->
                <div class="col-lg-4 col-md-6 col-sm-10 mx-auto">
                    <div class="content-box">
                        <div class="hr-title">
                            <div class="outer-circle">
                                <div class="inner-circle">
                                    <div class="content-box-icon">
                                        <i class="fa fa-lightbulb-o fa-2x"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="headerhr"></div>
                        </div>
                        <h5 class="heading-secondary"> ساخت بک اند سایت </h5>
                        <p>
                                    ساخت بک اند وبسایت ها   و همکاری با تیم های فرانت اند کار
                        </p>
                    </div>
                </div>
                <!--END CONTENT BOX -->

                <!--START CONTENT BOX -->
                <div class="col-lg-4 col-md-6 col-sm-10 mx-auto">
                    <div class="content-box">
                        <div class="hr-title">
                            <div class="outer-circle">
                                <div class="inner-circle">
                                    <div class="content-box-icon">
                                        <i class="fa fa-clock-o fa-2x"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="headerhr"></div>
                        </div>
                        <h5 class="heading-secondary"> پروژه های تحلیل داده </h5>
                        <p>
                                            انواع پروژه های تحلیل داده و اماری 
                        </p>
                    </div>
                </div>
                <!--END CONTENT BOX -->

                <!--START CONTENT BOX -->
                <div class="col-lg-4 col-md-6 col-sm-10 mx-auto">
                    <div class="content-box">
                        <div class="hr-title">
                            <div class="outer-circle">
                                <div class="inner-circle">
                                    <div class="content-box-icon">
                                        <i class="fa fa-comment-o fa-2x"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="headerhr"></div>
                        </div>
                        <h5 class="heading-secondary"> اتوماسیون سازی فرایند ها</h5>
                        <p>
                                اتوماسیون سازی فرایند های روزمره شما  با ساخت برنامه های اتوماسیون
                        </p>
                    </div>
                </div>
                <!--END CONTENT BOX -->

            </div>
        </div>
    </section>
    <!-- ====== END SERVICES ======  -->
    
    <!-- ====== START COUNTS ======  -->
    <section class="counts padding">
        <div class="container">

            <!-- START COUNTS CONTENT -->
            <div class="counts-c text-center">

                <div class="row">
                    <!-- START COUNTS ITEM -->
                    <div class="count-item col-lg-3 col-md-6 col-sm-6 mx-auto">
                        <div class="counter">
                            <div class="counting-icon">
                                <i class="fa fa-code fa-2x"></i>
                            </div>
                            <!-- NUMBER -->
                            <span class="count" data-from="0" data-to="180">0</span>
                            <!-- TITLE -->
                            <h4>تعداد مراجعین </h4>
                        </div>
                    </div>
                    <!-- END COUNTS ITEM -->

                    <!-- START COUNTS ITEM -->
                    <div class="count-item col-lg-3 col-md-6 col-sm-6 mx-auto">
                        <div class="counter">
                            <div class="counting-icon">
                                <i class="fa fa-coffee fa-2x"></i>
                            </div>
                            <!-- NUMBER -->
                            <span class="count" data-from="0" data-to="150">0</span>
                            <!-- TITLE -->
                            <h4>رضایت مشتریان</h4>
                        </div>
                    </div>
                    <!-- END COUNTS ITEM -->

                    <!-- START COUNTS ITEM -->
                    <div class="count-item col-lg-3 col-md-6 col-sm-6 mx-auto">
                        <div class="counter">
                            <div class="counting-icon">
                                <i class="fa fa-lightbulb-o fa-2x"></i>
                            </div>
                            <!-- NUMBER -->
                            <span class="count" data-from="0" data-to="216">0</span>
                            <!-- TITLE -->
                            <h4>پروژه های تکمیل شده </h4>
                        </div>
                    </div>
                    <!-- END COUNTS ITEM -->


                </div>
            </div>
            <!-- END COUNTS CONTENT -->

        </div>
        </div>
    </section>
    <!-- ====== END COUNTS ======  -->



    {% endblock content %}