{% extends 'base.html' %}


{% block content %}
    <!-- ====== START SERVICES ======  -->
    <section class="services padding" id="services" data-scroll-index="2">
        <div class="container">

            <!-- START SERVICES SECTION TITLE -->
            <h2 class="heading-primary text-center mb-5">Our Services</h2>
            <!-- END SERVICES SECTION TITLE -->

            <div class="row">
                <!-- START CONTENT BOX -->
                <div class="col-lg-4 col-md-6 col-sm-10 mx-auto">
                    <div class="content-box">
                        <div class="hr-title">
                            <div class="outer-circle">
                                <div class="inner-circle">
                                    <div class="content-box-icon">
                                        <i class="fa fa-pencil-square-o fa-2x"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="headerhr"></div>
                        </div>
                        <h5 class="heading-secondary">Designs & interfaces</h5>
                        <p>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                            Aenean massa. Cum sociis natoque penatibus et magnis.
                        </p>
                    </div>
                </div>
                <!--END CONTENT BOX -->

                <!--START CONTENT BOX -->
                <div class="col-lg-4 col-md-6 col-sm-10 mx-auto">
                    <div class="content-box">
                        <div class="hr-title">

                            <div class="outer-circle">
                                <div class="inner-circle">
                                    <div class="content-box-icon">
                                        <i class="fa fa-cog fa-2x"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="headerhr"></div>
                        </div>
                        <h5 class="heading-secondary">Highly customizable</h5>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, sequi cupiditate! Nobis
                            corporis exercitationem obcaecati magni rerum explicabo vel nemo.
                        </p>
                    </div>
                </div>
                <!--END CONTENT BOX -->

                <!--START CONTENT BOX -->
                <div class="col-lg-4 col-md-6 col-sm-10 mx-auto">
                    <div class="content-box">
                        <div class="hr-title">
                            <div class="outer-circle">
                                <div class="inner-circle">
                                    <div class="content-box-icon">
                                        <i class="fa fa-desktop fa-2x"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="headerhr"></div>
                        </div>
                        <h5 class="heading-secondary">Responsive design</h5>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam laudantium veritatis
                            porro obcaecati, reiciendis.
                        </p>
                    </div>
                </div>
                <!--END CONTENT BOX -->

                <!--START CONTENT BOX -->
                <div class="col-lg-4 col-md-6 col-sm-10 mx-auto">
                    <div class="content-box">
                        <div class="hr-title">
                            <div class="outer-circle">
                                <div class="inner-circle">
                                    <div class="content-box-icon">
                                        <i class="fa fa-lightbulb-o fa-2x"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="headerhr"></div>
                        </div>
                        <h5 class="heading-secondary">Features & plugins</h5>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi voluptatem atque, hic ut
                            necessitatibus nesciunt ullam officia.
                        </p>
                    </div>
                </div>
                <!--END CONTENT BOX -->

                <!--START CONTENT BOX -->
                <div class="col-lg-4 col-md-6 col-sm-10 mx-auto">
                    <div class="content-box">
                        <div class="hr-title">
                            <div class="outer-circle">
                                <div class="inner-circle">
                                    <div class="content-box-icon">
                                        <i class="fa fa-clock-o fa-2x"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="headerhr"></div>
                        </div>
                        <h5 class="heading-secondary">Optimised for speed</h5>
                        <p>
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit inventore fugiat rerum enim,
                            quibusdam mollitia laborum magnam nobis sed.
                        </p>
                    </div>
                </div>
                <!--END CONTENT BOX -->

                <!--START CONTENT BOX -->
                <div class="col-lg-4 col-md-6 col-sm-10 mx-auto">
                    <div class="content-box">
                        <div class="hr-title">
                            <div class="outer-circle">
                                <div class="inner-circle">
                                    <div class="content-box-icon">
                                        <i class="fa fa-comment-o fa-2x"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="headerhr"></div>
                        </div>
                        <h5 class="heading-secondary">Dedicated support</h5>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro exercitationem vel dolores
                            harum inventore vitae nam dolor. Molestiae earum repellendus architecto corporis.
                        </p>
                    </div>
                </div>
                <!--END CONTENT BOX -->

            </div>
        </div>
    </section>
    <!-- ====== END SERVICES ======  -->
    
    <!-- ====== START COUNTS ======  -->
    <section class="counts padding">
        <div class="container">

            <!-- START COUNTS CONTENT -->
            <div class="counts-c text-center">

                <div class="row">
                    <!-- START COUNTS ITEM -->
                    <div class="count-item col-lg-3 col-md-6 col-sm-6 mx-auto">
                        <div class="counter">
                            <div class="counting-icon">
                                <i class="fa fa-code fa-2x"></i>
                            </div>
                            <!-- NUMBER -->
                            <span class="count" data-from="0" data-to="180">0</span>
                            <!-- TITLE -->
                            <h4>تعداد مراجعین </h4>
                        </div>
                    </div>
                    <!-- END COUNTS ITEM -->

                    <!-- START COUNTS ITEM -->
                    <div class="count-item col-lg-3 col-md-6 col-sm-6 mx-auto">
                        <div class="counter">
                            <div class="counting-icon">
                                <i class="fa fa-coffee fa-2x"></i>
                            </div>
                            <!-- NUMBER -->
                            <span class="count" data-from="0" data-to="150">0</span>
                            <!-- TITLE -->
                            <h4>رضایت مشتریان</h4>
                        </div>
                    </div>
                    <!-- END COUNTS ITEM -->

                    <!-- START COUNTS ITEM -->
                    <div class="count-item col-lg-3 col-md-6 col-sm-6 mx-auto">
                        <div class="counter">
                            <div class="counting-icon">
                                <i class="fa fa-lightbulb-o fa-2x"></i>
                            </div>
                            <!-- NUMBER -->
                            <span class="count" data-from="0" data-to="216">0</span>
                            <!-- TITLE -->
                            <h4>پروژه های تکمیل شده </h4>
                        </div>
                    </div>
                    <!-- END COUNTS ITEM -->


                </div>
            </div>
            <!-- END COUNTS CONTENT -->

        </div>
        </div>
    </section>
    <!-- ====== END COUNTS ======  -->



    {% endblock content %}